/*Importando las fuentes*/
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
/*Box sizing le dice al navegador que tome en cuenta el borde 
para cualquier valor de un elemento, es decir que incluya este borde*/
*{
    box-sizing: border-box;
}

img{
    display: block;
    max-width: 100%;
}
h2{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 25px;
}

h1,h3,h4,h5,h6 {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    letter-spacing: 1.5px;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

/*Scroll behavior para la página */
html {
    scroll-behavior: smooth; } 
/*------------------------------------Estilos para el header----------------------------------------------*/
.header{
    height: 60px;
}

.header .contenedor{
    display: flex;
    justify-content: space-between;
}

.logo,.icon-menu{
    margin: 5px;
    color: #fff;
}

.icon-menu{
    display: block;
    width: 40px;
    height: 40px;
    font-size: 30px;
    background: #84898c;
    text-align: center;
    line-height: 45px;
    border-radius: 5px;
    margin-left: auto;
    cursor: pointer;
}
/*------------------------------------Estilos del menu-------------------------------------------*/

.nav {
    position:absolute;
    top: 60px;
    left: -100%; 
    width: 100%;
    transition: all 0.4s;
}

.menu{
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-link{
    display: block;
    padding: 20px;
    background:#84898c;
    text-decoration: none;
    color:#fff
}

/*El hoover es el elemento que se activa cuando el usuario interactua 
con un elemento, pero no necesariamente da click sobre este.*/
.menu-link:hover{
    background: white;
    color: #84898c;
    
}

.show{
    left:0;
}

/*Para que siempre halla un elemento diferente*/
.select{
    background: white;
    color: #84898c;
}

/*--------------------------------------Estilos del banner--------------------------------------------*/

.banner {
    margin-top: -60px;
    position: relative;
    z-index: -1000;
    margin-bottom: 20px;

  }
  

.banner .contenedor {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 100%;
    color: #fff;
    text-align: center;

  }


.image-banner{
    display: none;
}

.image-banner-movil{
    display: block;
    width:100%;
}
  
.banner-txt {
    display: none;
  }


/*----------------------------------------Estilo de info-----------------------------------------------------------*/



.info-columna{
    border: 1px solid #6d7a7f;
    background: #6d7a7f ;
    /*background-color: rgb(122, 121, 121) transparent;*/
    color: white;
    padding: 10px;
    margin-bottom: 20px;
    -webkit-box-shadow: 8px 0px 37px 0px #333;
    -moz-box-shadow: 8px 0px 37px 0px #333;
    box-shadow: 8px 0px 47px 0px rgb(116, 116, 116);
    flex-wrap: wrap;
    overflow: hidden;
    transition: all 500ms ease;

}

.info-titulo{
    font-size: 25px;
    margin-top: 25px;
    border-bottom: white 3px solid;
    width: 50%;
}

.info-columna img{
    transition: all 500ms ease;
}

.info-columna img:hover{
    transform: scale(1.2);
}



/*------------------------------------------ Estilos de About------------------------------------------------------*/


.image-profile{
    float: right;
    width: 30%;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-top: 10px;
    background-color: #6d7a7f;
}

.opinion-txt{
    margin-left: 10px;
    margin-bottom: 10px;
    float: left;
    text-align: left;
}

.image-profile1{
    float: left;
    width: 30%;
    margin-right: 10px;
    background-color:#6d7a7f;
}

.image-profile2{
    float: right;
    width: 30%;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-top: 10px;
    background-color: #6d7a7f;
}

.opinion-txt1{
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.name-title2{
    text-align: center;
    color: #6d7a7f;
}

.name-title{
    color: #6d7a7f;
}
/*-------------------------------------------Estilos de cursos ----------------------------------------------------------*/

.section-titulo{
    text-align: center;
    font-size: 30px;
    color: #748380;
}

.cursos-columna{
    position: relative;
    margin-bottom: 30px;
}

.cursos-descripcion{
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    background: rgba(0, 0,0,0.6);
    width: 75%;
    height: 100%;
    padding: 5px;
}
.cursos-titulo{
    font-size: 25px;
    margin: 5px 0;
}

/*---------------------------------------Estilos del footer------------------------------------------------------*/

.footer{
    background: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

/*De esta manera se estan seleccionando todas las clases que empiecen con icon- y esten
dentro de footer*/
.footer .social [class^="icon-"]{
    display: inline-block;
    color: #333;
    text-decoration: none;
    font-size: 30px;
    padding: 10px;
    background: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    line-height: 40px;
}



/*--------------------------------------Estilos responsive------------------------------*/

/*Recordemooe los media queries son útiles cuando se desea adapatar la página web a cualquier 
dispositivo con medidas especificas*/

@media(min-width:480px){
    .logo{
        font-size: 40px;
    }
    /* ---------------------------------------Esilos para el Banner ----------------------------*/
    .image-banner{
        width: 100%;
        display: block;
    }
    .image-banner-movil{
        width: 100%;
        display: none;
    }

    .banner-titulo{
        font-size: 50px;
        margin: 5px 0;
    }
    /*Esto se hace para que NO se detecte el salto de línea después de 480px*/
    .banner-titulo br{
        display: none;
    }
    .banner-txt{
        display: block;
        font-size: 25px;
        margin: 5px 0;
    }

    /* ----------------------------Estilos para la información de las columnas -------------------------------*/
    .info{
        display: flex;
        justify-content: space-between;
        margin-top: -90px;
    }
    .info-columna{
        width: 35%;
        
    }

    /*----------------------------------Estilos para About-----------------------------------------*/
    .first-column{
        width: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 15%;
        
    }
    .second-column{
        width: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 15%;
    }
    .about .contenedor{
        margin-top: -32px;
        
    }

    .image-profile{
        width: 20%;
        margin-right: -10px;
        margin-top: 10px;
        margin-bottom: 0;
        margin-left: 0;
    }
    .image-profile1{
        width: 20%;
        margin-top: 10px;
        margin-bottom: 0;
        margin-left: 0;
    }

    .image-profile2{
        width: 20%;
        margin-right: 0;
    }
    .opinion-txt{
        margin-top: -10px;
    }
    .opinion-txt1{
        margin-top: -10px;
    }

    /*-----------------------------------------Estilos para cursos------------------------------*/
    .cursos{
        display: flex;
        /*Para que el contenido que ya no entre se vaya hacia abajo*/
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 0;
    }
    .section-titulo{
        width: 100%;
    }
    .cursos-columna{
        width: 49%;
    }

    /*----------------------------------------Estilos para el footer-------------------------------------------- */
    .footer .social [class^="icon-"]{
        margin: 0 10px;
    }

}


@media(min-width:768px){
    .banner-titulo{
        font-size: 40px;
    }
    .cursos-titulo{
        font-size: 35px;
    }
    .section-titulo{
        font-size:40px;
    }
    .image-profile{
        width: 20%;
    }
    .image-profile1{
        width: 21%;
    }
    .image-profile2{
        width: 22%;
    }
}

@media(min-width:1024px){
    .banner-titulo{
        font-size: 60px;
    }
    .cursos-titulo{
        font-size: 40px;
    }
    .section-titulo{
        font-size:50px;
    }

    /*Ahora vamos a cambiar el menú*/
}