/*Importando las fuentes*/
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
/*Box sizing le dice al navegador que tome en cuenta el borde 
para cualquier valor de un elemento, es decir que incluya este borde*/
*{
    box-sizing: border-box;
}

img{
    display: block;
    max-width: 100%;
}
h2{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 25px;
}

h1,h3,h4,h5,h6 {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    letter-spacing: 1.5px;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

/*------------------------------------Estilos para el header----------------------------------------------*/
.header{
    height: 60px;
}

.header .contenedor{
    display: flex;
    justify-content: space-between;
}

.logo,.icon-menu{
    margin: 5px;
    color: #fff;
}

.icon-menu{
    display: block;
    width: 40px;
    height: 40px;
    font-size: 30px;
    background: #959794;
    text-align: center;
    line-height: 45px;
    border-radius: 5px;
    margin-left: auto;
    cursor: pointer;
}
/*------------------------------------Estilos del menu-------------------------------------------*/

.nav {
    position:absolute;
    top: 60px;
    left: -100%; 
    width: 100%;
    transition: all 0.4s;
}

.menu{
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-link{
    display: block;
    padding: 20px;
    background:#959794;
    text-decoration: none;
    color:#fff
}

/*El hoover es el elemento que se activa cuando el usuario interactua 
con un elemento, pero no necesariamente da click sobre este.*/
.menu-link:hover{
    background: white;
    color: #959794;
}

.show{
    left:0;
}

/*Para que siempre halla un elemento diferente*/
.select{
    background: white;
    color: #959794;
}

/*--------------------------------------Estilos del banner--------------------------------------------*/

.banner {
    margin-top: -60px;
    position: relative;
    z-index: -1000;
    margin-bottom: 20px;
  }
  
.banner .contenedor {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 100%;
    color: #fff;
    text-align: center;
  }
  
.banner-txt {
    display: none;
  }


/*----------------------------------------Estilo de info-----------------------------------------------------------*/



.info-columna{
    border: 1px solid #727272;
    background: #727272;
    color: white;
    padding: 10px;
    margin-bottom: 20px;
    -webkit-box-shadow: 8px 0px 37px 0px #333;
    -moz-box-shadow: 8px 0px 37px 0px #333;
    box-shadow: 8px 0px 47px 0px rgb(116, 116, 116);
    flex-wrap: wrap;
}

.info-titulo{
    font-size: 25px;
    margin-top: 10px;
    border-bottom: white 3px solid;
    width: 50%;
}


/*-------------------------------------------Estilos de cursos ----------------------------------------------------------*/

.section-titulo{
    text-align: center;
    font-size: 30px;
    color: #959794;
}

.cursos-columna{
    position: relative;
    margin-bottom: 30px;
}

.cursos-descripcion{
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    background: rgba(0, 0,0,0.6);
    width: 60%;
    height: 100%;
    padding: 5px;
}
.cursos-titulo{
    font-size: 25px;
    margin: 5px 0;
}

/*---------------------------------------Estilos del footer------------------------------------------------------*/

.footer{
    background: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

/*De esta manera se estan seleccionando todas las clases que empiecen con icon- y esten
dentro de footer*/
.footer .social [class^="icon-"]{
    display: inline-block;
    color: #333;
    text-decoration: none;
    font-size: 30px;
    padding: 10px;
    background: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    line-height: 40px;
}